form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  z-index: 10;
  margin-bottom: 2rem;
  color: #333333;
  > * {
    width: 100%;
  }
  h2 {
    margin-bottom: 1rem;
  }
  label, h2 {
    text-align: left;
  }
  * {
    font-size: clamp(1rem, 3vw, 1.2rem);
    color: #333333;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  width: 100%;

  @include desktop {
    width: 100%;
  }
  > div {
    display: flex;
    > div {
      align-items: center;
      label {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1;
      }
      + div {
        margin-left: 2rem;
      }
    }
  }
}


form {
  label, p {
    margin-top: 2rem;
    margin-bottom: 0.2rem;
  }
}

input,
select,
textarea {
  // background-color: transparent;
  border: 1px solid #8a8a8a;
  border-radius: 3px;
  padding: 0.5rem;

  &:focus,
  &:active {
    border-color: c(pink);
    outline-color: c(pink);
    outline-width: medium;
  }
}

form button, input[type="submit"] {
  background-color: c(pink);
  border: 2px solid darken(c(pink), 2%);
  -webkit-appearance: none;
  color: white;
  line-height: 2;
}

select {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
  option {
    font-size: 1em;
  }
}

textarea {
  margin-bottom: 2rem;
}


.close-form {
    display: flex;
    font-size: 0.9rem;
    position: absolute;
    bottom: -3rem;
    left: 0;
    right: 0;
    margin: 0;
}