// colours
$palettes: (
    white: (
        50: #EDF6F8,
        100: #ffffff
    ),
    black: (
        50: #191919,
        75: #292929
    ),
    pink: (
        50: #edc2bb,
        75: #fbe5de
    )
);

@function c($palette, $tone: 50) {
    @return map-get(map-get($palettes, $palette), $tone);
}