@keyframes clip-fade {
  100% {
    -webkit-mask-position: bottom;
            mask-position: bottom;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: min-content auto;
  place-content: center;
  width: 100%;
  height: auto;
  position: relative;
  > section {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .linocut {
    display: flex;
    img {
      -webkit-mask-image: linear-gradient(to top, black 5%, transparent);
      mask-image: linear-gradient(to top, black 5%, transparent);
      -webkit-mask-size: 100% 1200%;
      mask-size: 100% 1200%;
      -webkit-mask-position: top;
      mask-position: top;
      animation: clip-fade 3s ease-in forwards 1;
      width: 100%;
    }
  }
  .linocut-flipped {
    display: flex;
    max-height: 15vw;
    overflow: clip;
    justify-content: stretch;
    align-items: flex-end;
    img {
      width: 100%;
      transform: matrix(-1.00,0.00,0.00,-1.00,0,0);
    }
  }
  .invite {
    padding-bottom: clamp(3rem, 6vw, 9rem);
    h1, p {
      margin: 0 auto;
      width: min(54rem, 85%);
    }
    @include mobile {
      h1 + p {
        margin-top: .5em;
      }
    }
  }
  .stay-tuned {
    padding-bottom: clamp(3rem, 6vw, 9rem);
    padding-top: clamp(3rem, 6vw, 9rem);
  }
  .save-the-date {
    font-size: clamp(2rem, 3.8vw, 4rem);
    padding-top: clamp(3rem, 6vw, 9rem);
  }
  .stay-tuned {
    padding-top: clamp(3rem, 6vw, 9rem);
    padding-bottom: clamp(3rem, 5vw, 8rem);
  }
}

h1, h2, p {
  text-align: center;
  opacity: 0;
  animation: fade-blur 1.2s ease 3s forwards;
  font-size: clamp(2rem, 3.8vw, 4rem);
  margin: 0;
  color: c(pink);
  line-height: 1.2;
}