@keyframes clip-fade {
  100% {
    -webkit-mask-position: bottom;
            mask-position: bottom;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: min-content auto;
  place-content: center;
  width: 100%;
  height: auto;
  position: relative;
  > section {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: clamp(3rem, 6vw, 9rem);
    padding-bottom: clamp(3rem, 6vw, 9rem);
    padding-left: max(5vw, 2rem);
    padding-right: max(5vw, 2rem);
    gap: 2ex;
    p {
      margin: 0 auto;
    }
    h2 {
      font-size: clamp(4rem, 9.8vw, 10rem);
      margin-top: 0;
    }
  }
  .linocut {
    display: flex;
    padding: 0;
    svg {
      width: 100%;
    }
    img {
      -webkit-mask-image: linear-gradient(to top, black 5%, transparent);
      mask-image: linear-gradient(to top, black 5%, transparent);
      -webkit-mask-size: 100% 1200%;
      mask-size: 100% 1200%;
      -webkit-mask-position: top;
      mask-position: top;
      animation: clip-fade 3s ease-in forwards 1;
      width: 100%;
    }
  }
  .linocut-flipped {
    display: flex;
    max-height: 15vw;
    overflow: clip;
    justify-content: stretch;
    align-items: flex-end;
    img {
      width: 100%;
      transform: matrix(-1.00,0.00,0.00,-1.00,0,0);
    }
  }
  .invite {
    padding-top: 0;
    padding-bottom: clamp(3rem, 6vw, 9rem);
    h1, p {
      margin: 0 auto;
      width: min(48rem, 85%);
    }
    h1 + p {
      margin-top: 1em;
    }
    @include mobile {
      h1 + p {
        margin-top: .5em;
      }
    }
  }
  .bg-pink {
    * {
      color: white;
    }
  }
  .stay-tuned {
    padding-bottom: clamp(3rem, 6vw, 9rem);
    padding-top: clamp(3rem, 6vw, 9rem);
  }
  .taxis {
    font-size: clamp(2rem, 3.8vw, 4rem);
    padding-top: clamp(3rem, 6vw, 9rem);
    padding-bottom: clamp(3rem, 6vw, 9rem);
    color: #333333;
  }
  .date-times {
    padding-top: clamp(3rem, 6vw, 9rem);
    padding-bottom: clamp(3rem, 6vw, 9rem);
    color: #333333;
  }
  .stay-tuned {
    padding-top: clamp(3rem, 6vw, 9rem);
    padding-bottom: clamp(3rem, 5vw, 8rem);
    + .bg-light-pink {
      background-color: c(pink, light);
      height: 10rem;
    }
  }
}

h1, h2, p {
  text-align: center;
  opacity: 0;
  animation: fade-blur 1.2s ease 3s forwards;
  font-size: clamp(1rem, 1.5vw, 1.8rem);
  margin: 0;
  color: #333333;
  line-height: 1.1;
  letter-spacing: 0.1em;
}

p {
  max-width: 74ch;
  line-height: 1.4;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sparkle {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

#beams > *, #love > *, #love path, #crowd circle, #crowd ellipse {
  animation: 3s fade-out forwards;
}

#beams {
  polygon:nth-of-type(1) {
    animation-delay: 0.5s;
  }
  polygon:nth-of-type(2) {
    animation-delay: 1s;
  }
  polygon:nth-of-type(3) {
    animation-delay: 1.4s;
  }
  path:nth-of-type(1) {
    animation-delay: 1.6s;
  }
  path:nth-of-type(2) {
    animation-delay: 2s;
  }
  polygon:nth-of-type(4) {
    animation-delay: 2.1s;
  }
  polygon:nth-of-type(5) {
    animation-delay: 2.2s;
  }
}

#love {
  path:nth-of-type(1) {
    animation-delay: 2.0s;
  }
  path:nth-of-type(2) {
    animation-delay: 2.4s;
  }
  polygon:nth-of-type(4) {
    animation-delay: 3.2s;
  }
  polygon:nth-of-type(5) {
    animation-delay: 4.0s;
  }
}

#crowd > circle, #crowd > ellipse {
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: sparkle;
  &:nth-of-type(7n) {
    animation-delay: 0;
    animation-duration: .7s;
  }
  &:nth-of-type(7n-1) {
    animation-delay: .3s;
    animation-duration: 1.1s;
  }
  &:nth-of-type(7n-2) {
    animation-delay: .12s;
    animation-duration: .7s;
  }
  &:nth-of-type(7n-3) {
    animation-delay: .23s;
    animation-duration: 1.2s;
  }
  &:nth-of-type(7n-4) {
    animation-delay: .32s;
    animation-duration: .6s;
  }
  &:nth-of-type(7n-5) {
    animation-delay: .89s;
    animation-duration: 1.0s;
  }
  &:nth-of-type(7n-6) {
    animation-delay: 1.38s;
    animation-duration: 1.1s;
  }
}