.footer {
  display: flex;
  justify-content: center;
  height: 5rem;
  background-color: c(pink, light);
  ul {
    display: inline-flex;
    justify-content: center;
    list-style: none;
  }
  li {
    margin: 0 1rem;
  }
}