---
layout: base
eleventyNavigation:
  key: Home
---

<div class="text">
  <h1>Hello</h1>
</div>
<div class="cards">
  <div class="card">
    <h2>Card</h2>
    <p>hdskhsdjkl hsakd hsakljdh jksah jkdsh jshdjhskdhj sjhdk sd</p>
    <br>
      - lalala lalalala
    </div>
  </div>