---
layout: base
eleventyNavigation:
  key: Home
---

<section class="bg-light-pink linocut">
  <img src="{{ '/assets/images/print.svg' }}" width="300" height="143" alt="Lino cut print of the pyramid stage with a heart at the centre."/>
</section>
<section class="invite">
  <img src="{{ '/assets/images/haskinsbury.png' }}" alt="Haskinsbury Festival"/>
  <h1>Will Haskins & Kayleigh Evans are getting married.</h1>
  <p>They would love you to invite you to their wedding, the biggest festival of 2023</p>
</section>
<section class="bg-pink save-the-date">
  <p>For now, please just&hellip;</p>
  <p>Save the date:</p>
  <img src="{{ '/assets/images/date.png' }}" alt="15th July 2023"/>
</section>
<section class="stay-tuned">
  <p>More details to follow&hellip;</p>
</section>
<section class="bg-light-pink linocut-flipped">
  <img src="{{ '/assets/images/print.svg' }}" width="300" height="143" alt="Lino cut print of the pyramid stage with a heart at the centre."/>
</section>