---
layout: base
eleventyNavigation:
  key: Home
---

<section class="bg-light-pink linocut">
  {% include 'hero.svg'%}
</section>
<section class="invite">
  {% image "./src/assets/images/haskinsbury-v2.png", "Haskinsbury Festival", "100vw" %}
  <h1>Will Haskins & Kayleigh Evans are getting married.</h1>
  <p>They would love to invite you to their wedding, the biggest festival of 2023</p>
</section>
<section class="bg-pink save-the-date">
  <p>Save the date:</p>
  {% image "./src/assets/images/date-v2.png", "15th July 2023", "100vw" %}
</section>
<section
  class="stay-tuned">
  <!-- modify this form HTML and place wherever you want your form -->
  <form id="my-form" action="https://formspree.io/f/meqdlllb" method="POST">
    <h2>RSVP</h2>
    <label for="name">Who are you?</label>
    <input type="name" name="name" required/>
    <label for="email">What's your email address?</label>
    <input type="email" name="email" required/>
    <label>Can you come to our wedding?</label>
    <select name="attending">
      <option value="">-- Please choose --</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
      <option value="maybe">Maybe</option>
    </select>
    <label for="message">Anything else?</label>
    <textarea name="message" id="message" cols="30" rows="4"></textarea>
    <button id="my-form-button">Submit</button>
    <p id="my-form-status"></p>
  </form>
  <p>More details to follow&hellip;</p>
</section>
<section class="bg-light-pink"></section>
<!-- Place this script at the end of the body tag -->
<script>
  var form = document.getElementById("my-form");
  async function handleSubmit(event) {
    event.preventDefault();
    var status = document.getElementById("my-form-status");
    var data = new FormData(event.target);
    fetch(event.target.action, {
      method: form.method,
      body: data,
      headers: {
        'Accept': 'application/json'
      }
    }).then(response => {
      if (response.ok) {
        status.innerHTML = "Thanks for replying!";
        form.reset()
      } else {
        response.json().then(data => {
          if (Object.hasOwn(data, 'errors')) {
            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
          } else {
            status.innerHTML = "Oops! There was a problem submitting your form"
          }
        })
      }
    }).catch(error => {
      status.innerHTML = "Oops! There was a problem submitting your form"
    });
  }
  form.addEventListener("submit", handleSubmit)
</script>